@font-face {
    font-family: 'ISOCTEUR';
    src: url('ISOCTEUR.eot');
    src: url('ISOCTEUR.eot?#iefix') format('embedded-opentype'),
        url('ISOCTEUR.svg#ISOCTEUR') format('svg'),
        url('ISOCTEUR.ttf') format('truetype'),
        url('ISOCTEUR.woff') format('woff'),
        url('ISOCTEUR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}